@{

ViewData["Title"] = "Home Page";

}

<div class="container">





    <!-- <div class="slider">

        <ul class="slides">

            @if (ViewBag.slider !=null)

            {

            @foreach (var item in ViewBag.slider)

            {

            <li>

                <img src="~/slideImage/@item.ImgUrl" class="responsive-img">





            </li>

            }

            }



        </ul>

    </div> -->







    <div class="row">
        <br>

        <div class="col  m5 s12 right">

            @if (ViewBag.news != null)
            {
            @foreach (var item in ViewBag.news)

            {



            <div class="col m12 s12"><img src="~/newsImage/@item.ImgUrl" class=" responsive-img" style="width: 600px;height: 325px;"></div>

            <div class="col s12 right-align" style="padding: 5px;"><a class="dh right-align" style="font-size: 29px;font-weight: bolder;"
                    href="@Url.Action(" Index","News",new{id=@item.Id})">@item.Title</a>
                <br>
                <span class=" right-align blue-grey-text " style="direction: rtl"> @item.Date <i class="material-icons">date_range</i></span>

            </div>





            }
            }



        </div>
        <div class="col m4 s12 right">
            @if (ViewBag.ImportantNews != null)
            {
            @foreach (var item in ViewBag.ImportantNews)

            {
            <div class="row">
                <div class="col m6 s6 right" style="padding-top: 6px;">
                    <img src="~/newsImage/@item.ImgUrl" class="" style="width: 100%;height: 15%">

                </div>
                <div class="col m6 s6">
                    <a href="@Url.Action(" Index","News",new{id=@item.Id})" class="right dh" style="direction: rtl; font-size: 17px;font-weight: bolder;">@item.Title</a>

                    <span class="blue-grey-text  right-align" style="direction: rtl"> @item.Date <i class="material-icons">date_range</i></span>

                </div>

            </div>


            }
            }

        </div>
        <div class="col m3 s12" style="border: 1px solid green;border-radius: 15px;">
            <div class="right-align dh">
                <h6>
                    ފެރީގެ ޙިދުމަތް
                </h6>
                <hr>
                <ul>
                    <li class="dh" style="direction: rtl;">
                        ފެރީގެ ނަން :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ފޯން ނަމްބަރު :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        އަގު: އޭސީ =/150 ރުފިޔާ ނޮން އޭސީ =/100 ރުފިޔާ
                    </li>
                    <li class="dh" style="direction: rtl;">
                        މާލެ/މާމިގިލި : ހޯމަ، ބުރާސްފަތި ދުވަހުގެރޭ 23:00
                    </li>
                    <li class="dh" style="direction: rtl;">
                        މާމިގިލި / މާލެ : ހޮނިހިރު، ބުދަ ދުވަހުގެރޭ 22:00 </li>
                </ul>
                <h6>
                    ސުޕީޑް ލޯންޗްގެ ޙިދުމަތް
                </h6>
                <hr>
                <ul>
                    <li class="dh" style="direction: rtl;">
                        ފެރީގެ ނަން :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ފޯން ނަމްބަރު :
                    </li>
                    <li class="dh" style="direction: rtl;">
                        އަގު: =/350 ރުފިޔާ
                    </li>

                </ul>
                <h6>
                    ވައިގެ މަގުން </h6>
                <hr>
                <ul>
                    <li class="dh" style="direction: rtl;">
                        އެއަރލައިންގެ ނަން : ފުލައިމީ </li>
                    <li class="dh" style="direction: rtl;">
                        ޓިކެޓްގެ އަގު =/600 ރުފިޔާ
                    </li>
                    <li class="dh" style="direction: rtl;">
                        ރިޒަވޭޝަން ނަމްބަރު : 3013000 </li>

                </ul>
            </div>
        </div>



    </div>

    <hr>








    <div class="row" style="">

        <div class="col m6 s12 right ">
            <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                <i class="material-icons"> link
                </i>

                މުހިންމު ލިންކުތައް

            </h5>
            <hr>
            <ul class="right-align">
                <li class="dh " style="direction: rtl">
                    <a href="" class="dh " style="font-size: 19px;font-weight: bolder;">މިނިސްޓްރީ އޮފް އިސްލާމިކް
                        އެފެއަރޒް</a>
                </li>
            </ul>

        </div>

        <div class="col m6 s12 right ">

            <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                <i class="material-icons"> people</i>

                އިޢުލާން

            </h5>

            <hr>

            <ul class="right-align">

                @if (ViewBag.anouncements != null)
                {
                @foreach (var item in ViewBag.anouncements)

                {

                <li class="dh" style="font-family: Faruma;direction: rtl;">

                    <a href="~/anounceDoc/@item.DocUrl" class="" style="font-size: 16px;"><img src="~/images/icon/red-circle-with-pdf-icon-png-20.png"
                            style="width: 30px;">



                        @item.Title

                    </a>
                    <br>
                    <span class="right-align blue-grey-text " style="direction: rtl"> <i class="material-icons">date_range</i>
                        @Convert.ToDateTime(@item.Date)</span>

                </li>

                }
                }



            </ul>



        </div>

    </div>

    <div class="">

        <div class="row" style="">
            <div class="col s12 right">
                <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                    <i class="material-icons"> image

                    </i>

                    ފޮޓޯ ގެލަރީ
                </h5>
                <hr>
                <div class=" ">
                    @if (ViewBag.gallery != null)
                    {
                    @foreach (var item in ViewBag.gallery)
                    {
                    <div class="col  ">
                        <img src="~/gallery/@item.ImgUrl" data-caption="@item.Text" style="width: 240px;height: 149px;margin-bottom: 12px;"
                            class="materialboxed responsive-img">

                    </div>

                    }
                    }
                </div>


            </div>









        </div>

     

    </div>

</div>

<script>

    var instance = M.Carousel.init({

        fullWidth: true,

        indicators: true

    });



    // Or with jQuery



    $('.carousel.carousel-slider').carousel({

        fullWidth: true,

        indicators: true

    });



    //materialboxed

</script>