@{

ViewData["Title"] = "Home Page";

}

<div class="container">







    <div class="row">
        <br>

        <div class="col  m5 s12 right">

            @if (ViewBag.news != null)
            {
            @foreach (var item in ViewBag.news)

            {



            <div class="col m12 s12"><img src="~/newsImage/@item.ImgUrl" class=" responsive-img" style="width: 600px;height: 281px;"></div>

            <div class="col s12 right-align" style="padding: 5px;"><a class="dh right-align" style="font-size: 29px;font-weight: bolder;"
                    href="@Url.Action("Index","News",new{id=@item.Id})">@item.Title</a>
                <br>
                <span class=" right-align blue-grey-text " style="direction: rtl"> @item.Date <i class="material-icons">date_range</i></span>

            </div>





            }
            }



        </div>
        <div class="col m4 s12 right">
            @if (ViewBag.ImportantNews != null)
            {
            @foreach (var item in ViewBag.ImportantNews)

            {
            <div class="row">
                <div class="col m6 s6 right" style="padding-top: 6px;">
                    <img src="~/newsImage/@item.ImgUrl" class="" style="width: 100%;height: 15%">

                </div>
                <div class="col m6 s6">
                    <a href="@Url.Action("Index","News",new{id=@item.Id})" class="right dh" style="direction: rtl; font-size: 17px;font-weight: bolder;">@item.Title</a>

                    <span class="blue-grey-text  right-align" style="direction: rtl"> @item.Date <i class="material-icons">date_range</i></span>

                </div>

            </div>


            }
            }

        </div>
        <div class="col m3 s12" style="border: 1px solid green;border-radius: 15px;">
         
               <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                <i class="material-icons"> people</i>

                އިޢުލާން

            </h5>

            <hr>

            <ul class="right-align">

                @if (ViewBag.anouncements != null)
                {
                @foreach (var item in ViewBag.anouncements)

                {

                <li class="dh" style="font-family: Faruma;direction: rtl;">

                    <a href="~/anounceDoc/@item.DocUrl" class="" style="font-size: 1.2em;"><img src="~/images/icon/red-circle-with-pdf-icon-png-20.png"
                            style="width: 30px;">



                        @item.Title

                    </a>
                    <br>
                    <span class="right-align blue-grey-text " style="direction: rtl"> <i class="material-icons">date_range</i>
                        @item.Date</span>

                </li>

                }
                }



            </ul>

        </div>



    </div>

    <hr>








    <div class="row" style="">

        <div class="col m6 s12 right ">
            <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                <i class="material-icons"> link
                </i>

                ޤަވައިދު

            </h5>
            <hr>
           <ul class="right-align">

                @if (ViewBag.Rules != null)
                {
                @foreach (var item in ViewBag.Rules)

                {

                <li class="dh" style="font-family: Faruma;direction: rtl;">

                    <a href="~/LinkPic/@item.ImgUrl" class="" style="font-size: 1.2em;"><img src="~/images/icon/red-circle-with-pdf-icon-png-20.png"
                            style="width: 30px;">



                        @item.Title

                    </a>
                    <br>
                    <span class="right-align blue-grey-text " style="direction: rtl"> <i class="material-icons">date_range</i>
                        @item.Date</span>

                </li>

                }
                }



            </ul>

        </div>

        <div class="col m6 s12 right ">

            <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                <i class="material-icons"> people</i>

                ޑައުންލޯޑް

            </h5>

            <hr>

            <ul class="right-align">

                   <ul class=" right-align">
                       @if (ViewBag.Form != null)
                       {
                                   @foreach (var item in  ViewBag.Form)
                             {
                          <li class="dh right-align" style="font-family: Faruma;direction: rtl;">
                    <a href="~/LinkPic/@item.ImgUrl" style="font-size: 1.2em;"><img src="~/images/icon/red-circle-with-pdf-icon-png-20.png" style="width: 25px;">
                    
                    @item.Title
                   
                    </a>
                </li>
                
            } 
                       }
          
            </ul>


            </ul>



        </div>

    </div>

    <div class="">

        <div class="row" style="">
            <div class="col s12 right">
                <h5 class="right-align  dhsub news-parag" style="direction: rtl; font-weight: bold;">

                    <i class="material-icons"> image

                    </i>

                    ފޮޓޯ ގެލަރީ
                </h5>
                <hr>
                <div class=" ">
                    
                    @if (ViewBag.gallery != null)
                    {
                       
                            
                     

                            @foreach (dynamic item in ViewBag.gallery)
                    {
                        var xc = item .ImgUrl.Split(',');
                            
                                  <div class="col s12 m7">
      <div class="card">
        <div class="card-image">     
                            @for (int i = 0; i < 1; i++)
                            {
                               
                            
                                    <img src="~/gallery/@xc[i]" class=" responsive-img " style="width: 337px;height: 206px;">

                              
                                   
                                   
                               
                            }
                            </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
                                    <a href="@Url.Action("GallerySlider","Home",new{id=@item.Title})" class="dh">@item.Title</a>
       
        </div>
      </div>
    </div>
                             <!-- </div>
                                 
                                    <div class="card-action center-align">
                                    <a href="@Url.Action("GallerySlider","Home",new{id=@item.Title})" class="dh">@item.Title</a>
                                    </div> -->
                                <!-- </div>
                            
                                </div> -->

                        
                    
                     
                    }
                      </table>
                  
                    }
                </div>


            </div>









        </div>

     

    </div>

</div>

<script>

    var instance = M.Carousel.init({

        fullWidth: true,

        indicators: true

    });



    // Or with jQuery



    $('.carousel.carousel-slider').carousel({

        fullWidth: true,

        indicators: true

    });



    //materialboxed

</script>